<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.wy.webiter.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnnounceServlet</servlet-name>
    <servlet-class>com.wy.webiter.AnnounceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ThingServlet</servlet-name>
    <servlet-class>com.wy.webiter.ThingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>com.wy.webiter.DiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.wy.webiter.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.wy.webiter.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RestoreServlet</servlet-name>
    <servlet-class>com.wy.webiter.RestoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnnounceServlet</servlet-name>
    <url-pattern>/AnnounceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThingServlet</servlet-name>
    <url-pattern>/ThingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreServlet</servlet-name>
    <url-pattern>/RestoreServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
</web-app>